/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	 font-family: "Raavi", Arial, Helvetica, sans-serif;
	 font-size: 0.813em;
	 color: #555;
}
.wrap{
	width: 80%;
	margin: 0 auto;
}
.header-bg{
	background: rgb(40,33,67); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(40,33,67,1) 0%, rgba(43,35,76,1) 22%, rgba(35,25,62,1) 57%, rgba(42,32,67,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,33,67,1)), color-stop(22%,rgba(43,35,76,1)), color-stop(57%,rgba(35,25,62,1)), color-stop(100%,rgba(42,32,67,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(40,33,67,1) 0%,rgba(43,35,76,1) 22%,rgba(35,25,62,1) 57%,rgba(42,32,67,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(40,33,67,1) 0%,rgba(43,35,76,1) 22%,rgba(35,25,62,1) 57%,rgba(42,32,67,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(40,33,67,1) 0%,rgba(43,35,76,1) 22%,rgba(35,25,62,1) 57%,rgba(42,32,67,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(40,33,67,1) 0%,rgba(43,35,76,1) 22%,rgba(35,25,62,1) 57%,rgba(42,32,67,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282143', endColorstr='#2a2043',GradientType=0 ); /* IE6-9 */
}
.header{
	text-align:center;
	padding-top:10px;
}
.menu-bg{
	background: rgb(56,47,83); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(56,47,83,1) 1%, rgba(56,47,83,1) 50%, rgba(22,15,49,1) 50%, rgba(22,15,49,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(56,47,83,1)), color-stop(50%,rgba(56,47,83,1)), color-stop(50%,rgba(22,15,49,1)), color-stop(100%,rgba(22,15,49,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(56,47,83,1) 1%,rgba(56,47,83,1) 50%,rgba(22,15,49,1) 50%,rgba(22,15,49,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(56,47,83,1) 1%,rgba(56,47,83,1) 50%,rgba(22,15,49,1) 50%,rgba(22,15,49,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(56,47,83,1) 1%,rgba(56,47,83,1) 50%,rgba(22,15,49,1) 50%,rgba(22,15,49,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(56,47,83,1) 1%,rgba(56,47,83,1) 50%,rgba(22,15,49,1) 50%,rgba(22,15,49,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382f53', endColorstr='#160f31',GradientType=0 ); /* IE6-9 */
}
/*** MENU ***/
.drp-dwn{
	display: none;
	width: 100%;
	margin-bottom: -20px;
	position: relative;
	top: 0px;
}
.drp-dwn select {
    padding: 10px 6px;
    outline: none;
    display: block !important;
    width: 100%;
    border: 1px solid rgb(62, 53, 86);
    background: rgba(215, 196, 250, 0.16);
    color: #fff;
    cursor: pointer;
    background: #3e3556;
}
.nav{
	float:left;
}
.nav ul{
	margin: 0;
}
.nav ul li.active{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: url('../images/li-bg.png');
}
.nav ul li{
	line-height:1.6em;
	background: url('../images/li-bg1.png');
	float:left;
	border-right: 1px solid rgb(165, 147, 221);
}
.nav ul li:nth-last-child(1){
	border-right:none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.nav ul li a{
	padding: 14px 60px;
	display: inline-block;
	color: #fff;
	font-size:1.2em;
}
.nav ul li:hover{
	background: url('../images/li-bg-h.png');
}
/*search*/
.search{
	width:26%;
	margin-top: 5px;
	float: right;
	background: rgba(245, 228, 255, 0.18);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;	
}
.search input[type="text"]{
	width:80%;
	font-size:13px;
	background: none;
	padding:8px 14px;
	border: none;
	outline: none;
	color: #efefef;
}
.search input[type="submit"]{
	background: url('../images/search.png') no-repeat 0px 2px;
	padding:2px 10px;
	border: none;
	vertical-align: middle;
	cursor: pointer;
}
/*images style*/
.slider-bg{
	padding:40px 0 0px;
	border-bottom:6px solid #463265;
	background: rgb(14,11,22); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(14,11,22,1) 0%, rgba(18,12,26,1) 19%, rgba(37,27,52,1) 57%, rgba(44,33,67,1) 73%, rgba(60,43,88,1) 84%, rgba(70,51,107,1) 91%, rgba(75,62,115,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,11,22,1)), color-stop(19%,rgba(18,12,26,1)), color-stop(57%,rgba(37,27,52,1)), color-stop(73%,rgba(44,33,67,1)), color-stop(84%,rgba(60,43,88,1)), color-stop(91%,rgba(70,51,107,1)), color-stop(100%,rgba(75,62,115,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(14,11,22,1) 0%,rgba(18,12,26,1) 19%,rgba(37,27,52,1) 57%,rgba(44,33,67,1) 73%,rgba(60,43,88,1) 84%,rgba(70,51,107,1) 91%,rgba(75,62,115,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(14,11,22,1) 0%,rgba(18,12,26,1) 19%,rgba(37,27,52,1) 57%,rgba(44,33,67,1) 73%,rgba(60,43,88,1) 84%,rgba(70,51,107,1) 91%,rgba(75,62,115,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(14,11,22,1) 0%,rgba(18,12,26,1) 19%,rgba(37,27,52,1) 57%,rgba(44,33,67,1) 73%,rgba(60,43,88,1) 84%,rgba(70,51,107,1) 91%,rgba(75,62,115,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(14,11,22,1) 0%,rgba(18,12,26,1) 19%,rgba(37,27,52,1) 57%,rgba(44,33,67,1) 73%,rgba(60,43,88,1) 84%,rgba(70,51,107,1) 91%,rgba(75,62,115,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0b16', endColorstr='#4b3e73',GradientType=0 ); /* IE6-9 */
}
.image-container{
	margin-left: 0%;
}
.img{
	width:31.33%;
	margin: 0 3% 3% 0;
	cursor: pointer;
	-webkit-transform:scale(1.0);
	-moz-transform:scale(1.0);
	-o-transform:scale(1.0);
	float:left;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.img:nth-child(3),.img:nth-child(6){
	margin-right: 0;
}
.img img{
	width:95.33%;
	padding: 10px 10px 0px;
}
.img:hover{
	-webkit-transform:scale(0.9);
	-webkit-box-shadow:0px 0px 10px #6B5894;
	-moz-transform:scale(0.9);
	-moz-box-shadow:0px 0px 10px #6B5894;
	-o-transform:scale(0.9);
	-o-box-shadow:0px 0px 10px #6B5894;
}	 
.img .mask{
	width: 100%;
	background-color:#fff;
	position: absolute;
	height: 100%; 
	opacity:0.2;
	cursor:pointer;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration:0.5s;
}
.img-1:hover .mask{
	height:0%;	
}
/*light-box*/
/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}
/*content-bg*/
.content-bg{
	background: rgb(152,156,203); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(152,156,203,1) 0%, rgba(162,165,208,1) 10%, rgba(167,170,213,1) 21%, rgba(174,177,218,1) 30%, rgba(186,190,227,1) 40%, rgba(191,195,232,1) 51%, rgba(192,196,233,1) 60%, rgba(192,194,233,1) 70%, rgba(198,201,236,1) 80%, rgba(202,205,240,1) 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(152,156,203,1)), color-stop(10%,rgba(162,165,208,1)), color-stop(21%,rgba(167,170,213,1)), color-stop(30%,rgba(174,177,218,1)), color-stop(40%,rgba(186,190,227,1)), color-stop(51%,rgba(191,195,232,1)), color-stop(60%,rgba(192,196,233,1)), color-stop(70%,rgba(192,194,233,1)), color-stop(80%,rgba(198,201,236,1)), color-stop(90%,rgba(202,205,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(152,156,203,1) 0%,rgba(162,165,208,1) 10%,rgba(167,170,213,1) 21%,rgba(174,177,218,1) 30%,rgba(186,190,227,1) 40%,rgba(191,195,232,1) 51%,rgba(192,196,233,1) 60%,rgba(192,194,233,1) 70%,rgba(198,201,236,1) 80%,rgba(202,205,240,1) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(152,156,203,1) 0%,rgba(162,165,208,1) 10%,rgba(167,170,213,1) 21%,rgba(174,177,218,1) 30%,rgba(186,190,227,1) 40%,rgba(191,195,232,1) 51%,rgba(192,196,233,1) 60%,rgba(192,194,233,1) 70%,rgba(198,201,236,1) 80%,rgba(202,205,240,1) 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(152,156,203,1) 0%,rgba(162,165,208,1) 10%,rgba(167,170,213,1) 21%,rgba(174,177,218,1) 30%,rgba(186,190,227,1) 40%,rgba(191,195,232,1) 51%,rgba(192,196,233,1) 60%,rgba(192,194,233,1) 70%,rgba(198,201,236,1) 80%,rgba(202,205,240,1) 90%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(152,156,203,1) 0%,rgba(162,165,208,1) 10%,rgba(167,170,213,1) 21%,rgba(174,177,218,1) 30%,rgba(186,190,227,1) 40%,rgba(191,195,232,1) 51%,rgba(192,196,233,1) 60%,rgba(192,194,233,1) 70%,rgba(198,201,236,1) 80%,rgba(202,205,240,1) 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989ccb', endColorstr='#cacdf0',GradientType=0 ); /* IE6-9 */
}
.content{
	background: #ffffff;
}
.sidebar{
	float:left;
	width: 31.333%;
}
.grid{
	text-align:center;
	padding: 10px;
}
.grid:nth-child(1){
	background: #8667F7;
	border-bottom: 1px solid #fff;
}
.grid:nth-child(2){
	background:#16CAD6;
	border-bottom: 1px solid #fff;
}
.grid:nth-child(3){
	background: #036EFC;
}
h2,h3{
	text-transform:capitalize;
	color: #fff;
	font-size: 1.8em;
}
.grid p{
	color: #fff;
}
.main{
	float: right;
	width: 65.333%;
	margin-left: 3%;
	padding: 20px 0
}
.main-txt,.main-img{
	float:left;
	width: 47.333%;
}
.main-img{
	margin-left:2.333%;
}
.main h2{
	color: rgb(183, 98, 250);
}
/*button-style*/
.main-txt a{
	color: #555;
}
.main-txt a,.main-txt1 a,.contact-form form input[type="button"]{
	cursor:pointer;
	padding: 8px 20px 4px;
	background:rgb(209, 183, 253);
	border: 1px solid rgba(222, 163, 255, 0.37);
	box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	color:#fff;
}
.main-txt a:hover,.main-txt1 a:hover,.btn input[type="submit"]:hover,.btn input[type="button"]:hover,.contact-form form input[type="button"]:hover{
	color: #fff;
	background:rgba(113, 70, 180, 0.57);
}
.btm{
	margin-bottom: 20px;
}
/*footer*/
.footer-bg{
	background: #231826;
}
.footer {
	padding: 20px 0;
}
.col{
	float: left;
	display: block;
	margin-right: 2%;
}
.span_1_of_3 {
	width: 31.2%;
}
.col:nth-child(3){
	margin-right: 0;
}
.left{
	float: left;
}
.right{
	float:right;
}
.f-list li a ,.f-list p{
	font-size: 0.9em;
	color:#CACDF0;
	vertical-align: top;
}
.f-list li a:hover ,.right a:hover{
	color: rgb(104, 84, 155);
	text-decoration:underline;
}
p.left,.right a{
	color:rgb(104, 84, 155);
}
/*table-form*/
.table-form{
	padding:4px 0px;
}
.table-form form input[type="text"] {
	background:rgba(234, 203, 255, 0.37);
	border: none;
	outline: none;
	padding: 8px;
	color:rgba(255, 255, 255, 0.48);
	overflow: hidden;
	width:96%;
	margin-bottom:10px;
}
.btn input[type="submit"],.btn input[type="button"]{
	cursor:pointer;
	padding: 8px 20px;
	background: rgb(124, 95, 173);
	border: 1px solid rgba(121, 79, 145, 0.82);
	box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	color:#fff;
}
.btn input[type="submit"]:hover,.btn input[type="button"]:hover{
	color: #eee;
	background: rgba(205, 176, 250, 0.5);
}
/*footer1*/	
.ftr-bg{
	background: #1B1320;
}
.footer p.w3-link {
	text-align: center;
	color: rgb(104, 84, 155);
	font-size: 0.9em;
}
.footer p.w3-link a {
	color:#fff;
	text-decoration: none;
	font-size: 13px;
}
.footer p.w3-link a:hover{
	text-decoration:underline;
}
/*About*/
.about{
	float:left;
	padding: 20px;
}
.about h2,.service h2,.main-txt1 h3{
	color:rgb(183, 98, 250);
}
.main-txt1{
	float: left;
	width: 63.333%;
}
.main-img1{
	float: left;
	width: 33.333%;
	margin-right: 3.33%;
}
/*services*/
.service{
	padding: 20px;
}
.service h4{
	text-transform:capitalize;
	font-size: 18px;
}
.service h4.span span a{
	color: rgb(183, 98, 250);
}
.service h4.span span a:hover{
	color:rgb(169, 92, 184);
}
.main-txt1 h3{
	font-size:18px;
}
.main-txt1 span{
	font-size: 12px;
}
.ser-main{
	margin-top: 20px;
}
/*Contact*/
.contact{
	padding: 20px;
}
.contact h2{
	color: rgb(183, 98, 250);
}
.contact-left{
	float: left;
	width:53.333%;
	margin-right:2%;
}
.contact-right{
	float:right;
	width:44.333%;
}
table{
	width:100%;
}
.map{
	margin-top:10px;
	background:#fff;
	border:1px solid #aaa;
	font-size:12px;
}
.contact-form{
	margin-top:4px;
}
.contact-form input[type="text"]{
	background: #ffffff;
	width:93%;
	border: 1px solid #dedede;
	outline:none;
	padding: 8px;
	margin-top:10px;
	color:#666;
	overflow:hidden;
	border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
}
.contact-form textarea{
	font-family: 'Monda', sans-serif;
	width:93%;
	height:100px;
	padding: 8px;
	margin-top:10px;
	border: 1px solid #dedede;
	outline:none;
	color:#666;
	resize:none;
	background: #ffffff;
}
.contact-form input[type="submit"]{
	margin: 30px 0px 20px 380px;
}
/*contact-form*/
.contact-form-r{
	float:left;
}
.contact-form form{
	background:none;
}
.contact-form form input[type="button"]{
	cursor:pointer;
	font-size:13px;
	padding:6px 30px;
}
/*404*/
h5{
	font-size:10em;
	text-align:center;
	color: rgb(183, 98, 250);	
	text-shadow: 3px 0px 4px rgb(128, 69, 139);
}
/*media queries*/
@media all and (max-width:1366px) and (min-width:1280px){
	.wrap{
		width: 90%;
	}
.search input[type="text"] {
	width: 80%;
}
}
@media all and (max-width:1280px) and (min-width:1024px){
.wrap{
	width: 90%;
}
.search input[type="text"] {
	width:75%;
}
}	
@media all and (max-width:1024px) and (min-width:800px){
.wrap{
	width: 90%;
}
.nav ul li a {
	padding: 10px 40px;
}
.search input[type="text"] {
	width: 66%;
}
.img img {
	padding: 10px 6px 0px;
}
}
@media all and (max-width:800px) and (min-width:640px){
.wrap{
	width: 90%;
}
.nav ul li a {
	padding: 10px 30px;
}
.search input[type="text"] {
	width:60%;
}
.img img {
	padding: 10px 4px 0px;
}
}
@media all and (max-width:640px) and (min-width:480px){
.wrap{
	width: 90%;
}
.nav{
	display:none;
}
.drp-dwn{
	display:inline-block;
}
.search {
	width: 100%;
	margin-top: 15px;
}
.search input[type="text"] {
	width: 88%;
}
.sidebar {
	width: 100%;
}
.main {
	float: left;
	width: 96%;
	padding: 10px;
}
.span_1_of_3 {
	width: 100%;
}
.col {
	margin-right: 0%;
}
.top{
	margin-top: 15px;
}
.img img {
	width: 88.33%;
}
/*About*/
.about{
	float:left;
	padding: 18px;
}
.about h2{
	color:rgb(183, 98, 250);
}
.main-txt1{
	float: left;
	width: 100%;
}
.main-img1{
	float: left;
	width:100%;
}
.contact-left {
	float: none;
	width: 100%;
	margin-right: 0;
}
.contact-right {
	float: none;
	width: 100%;
}
}
@media all and (max-width:480px) and (min-width:320px){
.wrap{
	width: 90%;
}
.nav{
	display:none;
}
.drp-dwn{
	display:inline-block;
}
.search {
	width: 100%;
	margin-top: 15px;
}
.search input[type="text"] {
	width: 80%;
}
.sidebar {
	width: 100%;
}
.main {
	float: left;
	width: 90%;
	margin-left: 0;
	padding: 15px;
}
.main-txt, .main-img {
	float: left;
	width: 100%;
}
.main-img {
    margin-top: 2em;
}
.span_1_of_3 {
	width: 100%;
}
.col {
	margin-right: 0%;
}
.top{
	margin-top: 15px;
}
h2, h3 {
	font-size:20px;
}
.slider-bg {
	padding: 20px 0 0px;
}
.img img {
	width: 90.33%;
	padding:10px 6px 0px;
}
/*About*/
.about{
	float:left;
	padding: 15px;
}
.about h2{
	color:rgb(183, 98, 250);
}
.main-txt1{
	float: left;
	width: 100%;
}
.main-img1{
	float: left;
	width:100%;
}
.contact-left {
	float: none;
	width: 100%;
	margin-right: 0;
}
.contact-right {
	float: none;
	width: 100%;
}
}
@media all and (max-width:320px){
.wrap{
	width: 90%;
}
.nav{
	display:none;
}
.drp-dwn{
	display:inline-block;
}
.search {
	width: 100%;
	margin-top: 15px;
}
.search input[type="text"] {
	width: 74%;
}
.slider-bg {
	padding: 20px 0 0px;
}
.img img {
	width: 86.33%;
	padding:10px 6px 0px;
}
.sidebar {
	width: 100%;
}
.main {
	float: left;
	width: 90%;
	margin-left: 0;
	padding: 15px;
}
.main-txt, .main-img {
	float: left;
	width: 100%;
}
.span_1_of_3 {
	width: 100%;
}
.col {
	margin-right: 0%;
}
.top{
	margin-top: 15px;
}
h2, h3 {
	font-size:20px;
}
/*About*/
.about{
	float:left;
	padding: 10px;
}
.about h2{
	color:rgb(183, 98, 250);
}
.main-txt1{
	float: left;
	width: 100%;
}
.main-img1{
	float: left;
	width:100%;
}
.contact-left {
	float: none;
	width: 100%;
	margin-right: 0;
}
.contact-right {
	float: none;
	width: 100%;
}
}